xcshareddata/
xcuserdata/
Checkouts/
Carthage/
Pods/*
!Pods/Charts
DerivedData/


**/*-LICENSE
*-LICENSE
**/LICENSE
LICENSE

**/.DS_Store
**/*.md
**/*.txt
**/*.zip
.DS_Store
.build
*.xcworkspace
*.md
*.txt
*.zip
*.generated.swift

fastlane/report.xml
fastlane/Appfile